* {
  background-color: black;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.EingabeFenster {
  width: 25%;
  justify-content: flex-start;
  margin: 10px;
  border: solid red;
}

.EingabeFenster input,
p,
.Buttons {
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
}

.Dashboard {
  margin: 10px;
  border: solid red;
  display: flex;
  justify-content: flex-start;
  width: 70%;
}
.Dashboard p {
  margin: 5%;
  font-size: 30px;
}
