* {
  background-color: black;
  overflow: hidden;

  -width: 798px;
}
.UpperSpace {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.EingabeFenster {
  width: 25%;
  justify-content: flex-start;
  margin: 10px;
  border: solid red;
  min-width: 199px;
}

.EingabeFenster input,
p,
.Buttons {
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;
}

.Dashboard {
  margin: 10px;
  border: solid red;
  display: flex;
  justify-content: center;
  width: 70%;

  min-width: 557.2px;
}
.Dashboard p {
  font-size: 30px;
}
.LowerSpace {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 821px;
}
.history {
  border: solid red;
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 10px;
}
.Eintrag {
  margin-top: 30px;
  display: flex;
}
.Eintrag p {
  padding-right: 30%;
}

.Eintrag button {
  height: 30px;
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 2px 6px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.Eintrag button :hover {
  background-color: #5cbf2a;
}
.Eintrag button:active {
  position: relative;
  top: 1px;
}
